Django==5.2
gunicorn==23.0.0

# Database
mysqlclient==2.2.7
psycopg2-binary==2.9.10

# Forms & UI
django-crispy-forms==2.3
crispy-bootstrap5==2025.4
django-admin-interface==0.30.0
django-colorfield==0.14.0

# Images
Pillow==11.2.1

# Static files
whitenoise==6.9.0

# Environment variables
django-environ==0.12.0
