{% extends 'layout.html' %}

{% block title_content %}
{% if employee.id %}
    <title>Update Employee</title>
{% else %}
<title>Create Employee</title>
{% endif %}
{% endblock %}

{% block page_content %}
{% if employee.id %}
<h1>Update Employee</h1>
{% else %}
<h1>Create Employee</h1>
{% endif %}
<form class="row g-3" method="POST">
	{% csrf_token %}
	  <div class="row mb-1">
		<label class="col-form-label">Enter Employee ID</label>
		<div class="col-sm-4">
		  <input type="text" name="emp_number" class="form-control form-control-sm" value="{{ employee.id }}">
		</div>
	  </div>
	  <div class="row mb-1">
		<label class="col-form-label">Enter Employee Name</label>
		<div class="col-sm-4">
		  <input type="text" name="name" class="form-control form-control-sm" value="{{ employee.name }}">
		</div>
	  </div>
	  <div class="row mb-1">
		<label class="col-form-label">Enter Employee Age</label>
		<div class="col-sm-4">
		  <input type="text" name="age" class="form-control form-control-sm" value="{{ employee.age }}">
		</div>
	  </div>
	  <div class="row mb-1">
		<label class="col-form-label">Enter Employee Salary</label>
		<div class="col-sm-4">
		  <input type="text" name="salary" class="form-control form-control-sm" value="{{ employee.salary }}">
		</div>
	  </div>
	  <div class="row mb-1">
		<label class="col-form-label">Enter Employee Address</label>
		<div class="col-sm-4">
		  <input type="text" name="address" class="form-control form-control-sm" value="{{ employee.address }}">
		</div>
	  </div>
	{% if employee.id %}
	  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Update Employee</button>
	  </div>
	{% else %}
	   <div class="form-group">
		    <button type="submit" class="btn btn-primary">Create Employee</button>
	  </div>
	{% endif %}
	</form>
{% endblock %}