{% extends 'layout.html' %}
   {% block employee_style %}
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

</style>
  {% endblock %}
  {% block title_content %}
  <title>Employee Details</title>
  {% endblock %}

{% block page_content %}
<h1>Load All Employee</h1>
<br>
<a href="/employee/employeeDetails/">Create Employee</a>
<br><br>

<table id="customers">
  <tr>
    <th>ID</th>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Age</th>
	<th>Salary</th>
    <th>Address</th>
  </tr>
{% for employee in employeeFBV %}
  <tr>
    <td><a href="{% url 'employee:employee_ID' pk=employee.id %}">{{ employee.id }}</a></td>
    <td>{{ employee.eno }}</td>
    <td>{{ employee.name }}</td>
    <td>{{ employee.age }}</td>
	<td>{{ employee.salary }}</td>
    <td>{{ employee.address }}</td>
  </tr>
  {% empty %}
    <tr>
      <td>No Data</a></td>
      <td>No Data</td>
      <td>No Data</td>
      <td>No Data</td>
      <td>No Data</td>
      <td>No Data</td>
    </tr>
 {% endfor %}
</table>
{% endblock %}
