<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMPLOYEE</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
         <h1>EMPLOYEE DETAILS!!!!!</h1>
        first name <input type="text" name="first_name"><br><br>
        last name <input type="text" name="last_name"><br><br>
        age <input type="text" name="age"><br><br>
        address <input type="text" name="address"><br><br>
         <input type="submit" name="submit" value="register">


</body>
</html>